# IDE Settings
.idea/
.project
.pydevproject
.vscode/

# Distribution / Packaging
*.egg*
*.whl
__pycache__/
site/
build/

# Reporting
.coverage

# Environmnents
venv/
venv*/
.venv/
.env
.tox/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Sample data directories (ignore all data except input folders)
samples/*/publish*/data/*
samples/*/download*/data/*
!samples/*/publish*/data/input/

# macOS invisible files
.DS_Store
