[project]
name = "evo-python-sdk"
version = "0.1.0"
description = "Monorepo containing independently versioned Evo Python SDKs"
readme = "README.md"
requires-python = ">=3.10"
dependencies = []

[dependency-groups]
dev = [
    "pre-commit >= 4",
    "ruff==0.9.1", # keep in sync with .pre-commit-config.yaml
]

[tool.uv.sources]
evo-client-common = { workspace = true }
evo-files = { workspace = true }
evo-objects = { workspace = true }

[tool.uv.workspace]
members = ["packages/*"]
